$fonte: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fonte-texto: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$azul-marinho: #1a2356;
$azul-escuro: #03042e;
$roxo: #2b1e82 ;
$dourado: #e6be8a;
$lilas: #7b78e5;
$cor-de-texto: #d9d9d9;
$tag-color: #242430;
$sombra: #0000004d;