main {
    margin: 0 24px;
  }
  
  .principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    height: calc(100vh - 150px);

    @media screen and (max-width: 768px) {
      
    }
  }
  
  